@import url('https://fonts.googleapis.com/css?family=Raleway');
// Variables
$dark_primary: #4ECDC4;
$primary: #1A535C;
$secondary: #7b7b7b;
$dark: #1c1c1c;
$light: #fff;
$other: #FF6B6B;
$card-size: 400px;
$image-size: 100%;
$image-height: 250px;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-container{
  height: 100vh;
  background: #1A535C;    
  margin: 0 auto;
  width: 100%;
  .logo{
      width: 250px;
      margin: auto;
      height: 280px;
      background: #fff;
      border-radius: 0 0 230px 230px;
      img{
          margin-top: 25px;
          width:100%;
          height: auto;
      }
  }
  h1 {
      text-align: center;
      font-size: 2em;
      color: white;
      margin: 100px 0 0 0;
  }
  .buttons{
      margin: 100px auto;
      text-align: center;
      .btn {
          text-decoration: none;
          padding: 15px 50px;
          background: tomato;
          color: white;
          border-radius: 3px;
          display: inline-block;
          transition: all .25s ease-in-out;
          &:hover{
              transform: scale(1.15,1.15);
          }
          &:first-child {
              background: teal;
              margin-right: 50px;
          }
      }
  }
  .form-group{
      margin: 5% auto;
      text-align: center;
      .warning{
        color: #fff;
        span{
          padding-left: 5px;
          border-left: 2px solid tomato;
        }
      }
      input{
          padding: 15px 25px;
          display: block;
          margin: 10px auto;
          border: none;
      }
      select {
          height: 41px;
          width: 218px;
          display: block;
          padding-left: 20px;
          margin: 10px auto;
      }
      button{
          padding: 15px 60px;
          color: #FFF;
          border: none; //2px solid #fff;
          background: #1c1c1c;
          transition: all .25s ease-in-out;
          &:hover{
            transform: scale(1.15,1.15);
          }
      }
  }
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 10% auto;
  grid-template-areas:
     "header header header"
     "menus main side-bar";
  align-items: stretch;
  font-family: Raleway;
  
  .top-bar{
    grid-area: header;
    // styles
    background: $primary;
    padding: 1em;
    z-index: 2;
    box-shadow: 0 1px 5px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      color:$light;
      font-weight: 600;
      margin-left: 300px;
    }
    span{
      font-size: 1.2em;
      text-transform: capitalize;
      color: #fff;
      .box{
        margin-left: 5px;
        overflow: hidden;
        img{
          border-radius: 5px;
          width:36px;
          height:36px;
        }
      }
    }
  }
  .floating-menu{
    // For some time
    display: block;
    // End
    grid-area: header;
    position: absolute;
    top:0;
    left: 20px;
    z-index: 12;
    // styles
    background: $dark;
    width: 200px;
    height: 70% !important;
    border-radius: 0 0 100px 100px;
    box-shadow: 1px 3px 10px 1px #444444;
    .logo{
      padding: 1em;
      .box{
        margin: auto;
        height:100px;
        width:100px;
        background: $primary;
      }
    }
    .f-menu{
      display: block !important;
      list-style: none;
      margin-top:50px;
      li {
        border-bottom: .5px solid $secondary;
        line-height: 2.5em;
        transition: all .8s ease-in-out;
        &:hover{
          background-color: $light;
           a{
            color: $dark;
            font-weight: 600;
          }
        }
        a {
          padding-left: 2em;
          font-size: 1.2em;
          text-decoration: none;
          color: $light;
        }
      } 
    }
  }
  .minimal-menu{
    grid-area: header;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    z-index: 12;
    // styles
    background: $dark;
    width: 200px;
    height: 180px;
    border-radius: 0 0 100px 100px;
    box-shadow: 1px 3px 10px 1px #444444;
    .logo{
      padding: 1em;
      .box{
        margin: auto;
        height:100px;
        width:100px;
        background: $primary;
      }
    }
    .f-menu{
      display: none;
    }
  }
  .menu-bar{
    grid-area: menus;
    background: $primary;
    padding-top: 200px;
    background-color: $primary;
    z-index: 3;
    margin-top:-33%;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
    .f-menu{
      li {
        list-style: none;
        cursor: pointer;
        &:hover{
          a{
           	background-color: $dark_primary;
            box-shadow:inset 5px 0 0 -1px $other;
          }
        }
        a {
          color: $light;
          text-decoration: none;
          font:20px/45px helvetica,verdana,sans-serif;
          box-sizing:border-box;
          border-bottom: 1px solid rgb(235,235,235);
          display: block;
          text-indent: 20px;
          text-transform: capitalize;
          transition: all .5s ease-in;
          &.activated{
             background-color: $dark_primary;
             &:hover{
               background-color: $primary;
             }
             ::before{
              content: "+";
             }
          }
        }
      }
    }
  }
  main{
    grid-area: main;
    // styles
    background: $light;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    .objects{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    }
    // Card layout
    .card {
      width: 340px;
      background-color:white;
      box-shadow: 0px 5px 10px rgba(85, 85, 85, 0.5);
      margin: 2px 1px;
    
      a {
      color: #333;
      text-decoration:none;
      }
      
      &:hover {
        .card-image {
          img {
            width: $image-size+10%;
            filter:grayscale(0);
          }
        }
        .card-placeholder {
          img {
            width: $image-size+30%;
            filter:blur(0);
          }
        }
      }
    .card-image {
        height: 200px;
        position:relative;
        overflow:hidden;
        img {
          width: $image-size;
          position:absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: grayscale(1);
          transition-property: filter width;
          transition-duration: .3s;
        }
    }
    .card-placeholder {
        height: 100%;
        position:relative;
        overflow:hidden;
        background:rgb(255, 255, 255);
        img {
          width: $image-size;
          position:absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: blur(2px);
          transition-property: filter width;
          transition-duration: .3s;
        }
    }
    .card-body {
      text-align:left; 
      padding: 1em 1em; 
    }
    .card-title {
      text-align:left;
      text-transform:uppercase;
      font-weight: bold;
    }

   .card-excerpt {
      color: #777;
    }
  }
    
  }
  .side-bar{
    grid-area: side-bar;
    z-index: 1;
    // styles
    background: $light;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border-radius:10px 10px 0 0;
    .top-sidebar{
      background-color: #3299BB;
      color: #fff;
      padding: .5em;
      display: block;
      line-height: 2em;
      font-size: 1.4em;
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, .3);
    }
    .ranking{
        .person{
          li{
            list-style: none;
            padding: .5em;
            text-decoration: none;
            text-align: left;
            text-align-last: left;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: .1px solid rgba(128, 128, 128, 0.514);
            cursor: pointer;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
            &:hover{
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22);
              
            }         
            p{
              font-size: 1.3em;
              margin-left: 10px;
              width: 70%;
              color: $dark;
            }
            .box{
              height: 64px;
              width:64px;
              border-radius: 5px;
              overflow: hidden;
              background-color: rgb(77, 77, 77);
              img{
                width:64px;
              }
            }
            .circle{
              height: 64px;
              width:64px;
              border-radius: 50%;
              background-color: rgb(10, 94, 52);
              display: flex;
              span{
                margin: auto;
                font-weight: normal;
                color: $light;
              }
            }
          }
        }
    }
    .newsfeed{
      .news{
        list-style: none;
        line-height: 1em;
        li{
          padding: .5em;
          text-decoration: none;
          text-align: left;
          text-align-last: left;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: .1px solid rgba(128, 128, 128, 0.514);
          cursor: pointer;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
          &:hover{
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22);
            
          }          
          p{
            margin-right: 5px;
            width: 70%;
            color: $dark;
            span{
              font-style: italic;
              font-size: .8em;
              color: rgb(170, 170, 170);
            }
          }
          .box{
            height: 64px;
            width:64px;
            border-radius: 5px;
            overflow: hidden;
            background-color: rgb(77, 77, 77);
            img{
              width:64px;
            }
          }
        }
      }
    }

  }
}



@media screen and (max-width:600px) {
  a.btn{
      display: block;
      margin: 10px 15px !important;
  }
}