* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.login-container {
  height: 100vh;
  background: #1A535C;
  margin: 0 auto;
  width: 100%; }
  .login-container .logo {
    width: 250px;
    margin: auto;
    height: 280px;
    background: #fff;
    border-radius: 0 0 230px 230px; }
    .login-container .logo img {
      margin-top: 25px;
      width: 100%;
      height: auto; }
  .login-container h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 100px 0 0 0; }
  .login-container .buttons {
    margin: 100px auto;
    text-align: center; }
    .login-container .buttons .btn {
      text-decoration: none;
      padding: 15px 50px;
      background: tomato;
      color: white;
      border-radius: 3px;
      display: inline-block;
      transition: all .25s ease-in-out; }
      .login-container .buttons .btn:hover {
        transform: scale(1.15, 1.15); }
      .login-container .buttons .btn:first-child {
        background: teal;
        margin-right: 50px; }
  .login-container .form-group {
    margin: 5% auto;
    text-align: center; }
    .login-container .form-group input {
      padding: 15px 25px;
      display: block;
      margin: 10px auto;
      border: none; }
    .login-container .form-group button {
      padding: 15px 60px;
      color: #FFF;
      border: none;
      background: #1c1c1c;
      transition: all .25s ease-in-out; }
      .login-container .form-group button:hover {
        transform: scale(1.15, 1.15); }

@media screen and (max-width: 600px) {
  a.btn {
    display: block;
    margin: 10px 15px !important; } }
