@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #dadada; }

.login-container {
  height: 100vh;
  background: #1A535C;
  margin: 0 auto;
  width: 100%; }
  .login-container .logo {
    width: 250px;
    margin: auto;
    height: 220px;
    background: #fff;
    border-radius: 0 0 230px 230px; }
    .login-container .logo img {
      margin-top: 5px;
      width: 100%;
      height: auto; }
  .login-container h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 100px 0 0 0; }
  .login-container .buttons {
    margin: 100px auto;
    text-align: center; }
    .login-container .buttons .btn {
      text-decoration: none;
      padding: 15px 50px;
      background: tomato;
      color: white;
      border-radius: 3px;
      display: inline-block;
      transition: all .25s ease-in-out; }
      .login-container .buttons .btn:hover {
        transform: scale(1.15, 1.15); }
      .login-container .buttons .btn:first-child {
        background: teal;
        margin-right: 50px; }
  .login-container .form-group {
    margin: 5% auto;
    text-align: center;
    width: 400px;
    padding: 50px 0px;
    background: cadetblue;
    box-shadow: 0px 0px 5px 1px #141414; }
    .login-container .form-group .warning {
      color: #fff; }
      .login-container .form-group .warning span {
        padding-left: 5px;
        border-left: 2px solid tomato; }
    .login-container .form-group .radio {
      width: 290px;
      margin: 5px auto; }
      .login-container .form-group .radio ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-between; }
        .login-container .form-group .radio ul li {
          color: #fafafa;
          padding: 5px 10px;
          position: relative; }
          .login-container .form-group .radio ul li input[type=radio] {
            position: absolute;
            visibility: hidden; }
          .login-container .form-group .radio ul li label {
            display: block;
            position: relative;
            font-weight: 300;
            font-size: 1.35em;
            padding: 10px 20px;
            z-index: 10;
            cursor: pointer;
            transition: all 0.25s linear; }
          .login-container .form-group .radio ul li .check {
            display: block;
            position: absolute;
            border: 5px solid #f1f1f1;
            border-radius: 100%;
            height: 25px;
            width: 25px;
            top: 15px;
            left: 0px;
            z-index: 15;
            transition: border .25s linear; }
            .login-container .form-group .radio ul li .check:before {
              display: block;
              position: absolute;
              content: '';
              border-radius: 100%;
              height: 15px;
              width: 15px;
              top: 0;
              left: 0;
              margin: auto;
              transition: background 0.25s linear; }
          .login-container .form-group .radio ul li:hover .check {
            border: 5px solid #FFFFFF; }
          .login-container .form-group .radio ul li input[type=radio]:checked ~ .check {
            border: 5px solid #07525b; }
          .login-container .form-group .radio ul li input[type=radio]:checked ~ .check::before {
            background: #08daff; }
          .login-container .form-group .radio ul li input[type=radio]:checked ~ label {
            color: white;
            border-radius: 30px 15px;
            background-color: #07525b; }
    .login-container .form-group p {
      margin-top: 10px;
      color: #fff;
      font-style: italic; }
      .login-container .form-group p a {
        text-decoration: none;
        color: #27282c; }
    .login-container .form-group input {
      padding: 15px 60px;
      display: block;
      margin: 10px auto;
      border: none; }
    .login-container .form-group button {
      padding: 15px 120px;
      color: #FFF;
      border: 2px solid #fff;
      background: #1c1c1c;
      transition: all .25s ease-in-out;
      box-shadow: 0px 1px 5px 1px #efefef;
      border-radius: 2px; }
      .login-container .form-group button:hover {
        transform: scale(1.15, 1.15); }

.container {
  display: grid;
  grid-template-columns: 180px 3fr 1fr;
  grid-template-rows: 10% auto auto;
  grid-template-areas: "header header header" "menus main side-bar" "menus main sidebar";
  align-items: stretch;
  font-family: Raleway;
  background-color: #f3f3f3;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  position: relative; }
  .container .top-bar {
    grid-area: header;
    background: #1A535C;
    padding: 1em 3em 1em 1em;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .top-bar h1 {
      padding-left: 200px;
      color: #fff;
      font-weight: 600; }
    .container .top-bar span {
      font-size: 1.2em;
      text-transform: capitalize;
      color: #fff;
      vertical-align: middle; }
      .container .top-bar span .box {
        margin-left: 5px;
        overflow: hidden; }
        .container .top-bar span .box img {
          border-radius: 5px;
          width: 36px;
          height: 36px; }
  .container .floating-menu {
    display: block;
    grid-area: header;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 12;
    background: #27282c;
    width: 180px;
    height: 550px !important;
    border-radius: 0 0 100px 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 5px solid #383838;
    border-top: 0; }
    .container .floating-menu .logo .box {
      margin: auto;
      height: 100px;
      width: 100px; }
      .container .floating-menu .logo .box img {
        width: 100%;
        height: auto; }
    .container .floating-menu .f-menu {
      display: block !important;
      list-style: none;
      margin-top: 50px; }
      .container .floating-menu .f-menu li {
        border-bottom: 2px solid #e9ebee;
        line-height: 2.5em;
        transition: all .8s ease-in-out; }
        .container .floating-menu .f-menu li:hover {
          background-color: #fff; }
          .container .floating-menu .f-menu li:hover a {
            color: #27282c;
            font-weight: 600; }
        .container .floating-menu .f-menu li a {
          padding-left: 2em;
          font-size: 1.2em;
          text-decoration: none;
          color: #fff; }
        .container .floating-menu .f-menu li:last-child {
          border-bottom: 0px; }
  .container .minimal-menu {
    grid-area: header;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    background: #27282c;
    width: 180px;
    height: 150px;
    border-radius: 0 0 100px 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 5px solid #383838;
    border-top: 0; }
    .container .minimal-menu .logo .box {
      margin: auto;
      height: 100px;
      width: 100px; }
      .container .minimal-menu .logo .box img {
        width: 100%;
        height: auto; }
    .container .minimal-menu .f-menu {
      display: none; }
  .container .menu-bar {
    grid-area: menus;
    background: #1A535C;
    padding-top: 115px;
    background-color: #1A535C;
    z-index: 3;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2); }
    .container .menu-bar .f-menu li {
      list-style: none;
      cursor: pointer; }
      .container .menu-bar .f-menu li:hover a {
        background-color: #008080;
        box-shadow: inset 5px 0 0 -1px #FF6B6B; }
      .container .menu-bar .f-menu li a {
        color: #fff;
        text-decoration: none;
        font: 18px/30px helvetica,verdana,sans-serif;
        box-sizing: border-box;
        border-bottom: 3px solid #008080;
        display: block;
        padding-left: 1em;
        text-transform: capitalize;
        transition: all .3s ease-in; }
        .container .menu-bar .f-menu li a.activated {
          background-color: #008080; }
          .container .menu-bar .f-menu li a.activated:hover {
            background-color: #1A535C; }
  .container main {
    grid-area: main;
    background: #f3f3f3;
    background-attachment: fixed;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 90vh; }
    .container main .actionbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 1em 0em; }
      .container main .actionbar .informations ul {
        list-style: none;
        text-align: right; }
        .container main .actionbar .informations ul li {
          line-height: 1.5em; }
      .container main .actionbar .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .container main .actionbar .actions select {
          padding: .5em 1em; }
        .container main .actionbar .actions .btn {
          text-align: center;
          background: #1A535C;
          color: white;
          padding: .5em 1em;
          border: none;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
          text-decoration: none; }
          .container main .actionbar .actions .btn:hover {
            cursor: pointer; }
    .container main .objects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start; }
      .container main .objects .widget {
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
        .container main .objects .widget:after {
          content: "";
          display: table;
          clear: both; }
        .container main .objects .widget header {
          background: #1A535C;
          padding: 1em 1.5em;
          border-top: 4px solid #3299BB;
          color: #fff; }
          .container main .objects .widget header h3 {
            margin: 0;
            font-size: 1.35em;
            font-weight: 400; }
        .container main .objects .widget .chart {
          width: 100%;
          height: auto;
          background: #fff; }
          @media only screen and (min-width: 700px) {
            .container main .objects .widget .chart {
              float: right;
              width: 65%;
              height: 315px; } }
          .container main .objects .widget .chart .controls {
            height: 50px;
            border-bottom: 1px solid #e9ebee; }
            .container main .objects .widget .chart .controls:after {
              content: "";
              display: table;
              clear: both; }
            .container main .objects .widget .chart .controls nav {
              float: left;
              width: 75%;
              line-height: 50px;
              border-right: 1px solid #e9ebee; }
              .container main .objects .widget .chart .controls nav a {
                display: block;
                padding: 0 1.5em;
                text-decoration: none;
                color: #27282c; }
                @media only screen and (min-width: 700px) {
                  .container main .objects .widget .chart .controls nav a {
                    padding: 0 1em; } }
              .container main .objects .widget .chart .controls nav span {
                display: inline-block;
                float: right;
                line-height: 50px;
                color: #20649b; }
            .container main .objects .widget .chart .controls div {
              float: left;
              width: 25%;
              line-height: 50px;
              text-align: center; }
              .container main .objects .widget .chart .controls div span:first-child {
                color: #008080; }
              .container main .objects .widget .chart .controls div span:nth-child(2) {
                font-weight: 600;
                font-size: 1.35em;
                color: #3c3c3c; }
          .container main .objects .widget .chart .canvas-container {
            width: 100%;
            text-align: center; }
            .container main .objects .widget .chart .canvas-container canvas {
              display: block;
              width: 370px;
              height: 210px;
              padding: 1em; }
        .container main .objects .widget .info {
          position: relative;
          width: 100%;
          height: 315px;
          background: #008080; }
          @media only screen and (min-width: 700px) {
            .container main .objects .widget .info {
              float: left;
              width: 35%; } }
          .container main .objects .widget .info h4 {
            margin: 0 0 0.35em;
            padding: 1em 1.5em;
            font-size: 1em;
            font-weight: 300;
            text-transform: uppercase;
            color: #fff; }
          .container main .objects .widget .info .info-module {
            padding: 0 1.5em;
            font-weight: 400; }
            .container main .objects .widget .info .info-module .heading {
              font-size: 0.85em; }
              .container main .objects .widget .info .info-module .heading:after {
                content: "";
                display: table;
                clear: both; }
              .container main .objects .widget .info .info-module .heading span {
                display: inline-block;
                color: #fff; }
                .container main .objects .widget .info .info-module .heading span:first-child {
                  float: left; }
                .container main .objects .widget .info .info-module .heading span:nth-child(2) {
                  float: right; }
            .container main .objects .widget .info .info-module .progress {
              height: 5px;
              margin: 0.35em 0 1em;
              background: #1A535C;
              border-radius: 10px; }
              .container main .objects .widget .info .info-module .progress:after {
                content: '';
                display: block;
                height: 100%;
                background: #FF6B6B;
                border-radius: 5px; }
            .container main .objects .widget .info .info-module .undergraduate:after {
              width: 25%;
              animation-name: undergraduate;
              animation-timing-function: ease-in-out;
              animation-duration: 2s;
              animation-fill-mode: forwards; }
            .container main .objects .widget .info .info-module .graduate:after {
              width: 38%;
              animation-name: graduate;
              animation-timing-function: ease-in-out;
              animation-duration: 2s;
              animation-fill-mode: forwards; }
            .container main .objects .widget .info .info-module .transfer:after {
              width: 15%;
              animation-name: transfer;
              animation-timing-function: ease-in-out;
              animation-duration: 2s;
              animation-fill-mode: forwards; }
            .container main .objects .widget .info .info-module .questioned:after {
              width: 5%;
              animation-name: transfer;
              animation-timing-function: ease-in-out;
              animation-duration: 2s;
              animation-fill-mode: forwards; }
            .container main .objects .widget .info .info-module 0% {
              width: 0; }
            .container main .objects .widget .info .info-module 100% {
              width: 65%; }
            .container main .objects .widget .info .info-module 0% {
              width: 0; }
            .container main .objects .widget .info .info-module 100% {
              width: 30%; }
            .container main .objects .widget .info .info-module 0% {
              width: 0; }
            .container main .objects .widget .info .info-module 100% {
              width: 15%; }
          .container main .objects .widget .info nav {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%; }
            .container main .objects .widget .info nav a {
              display: block;
              line-height: 50px;
              text-decoration: none;
              text-align: center;
              color: #fff; }
            .container main .objects .widget .info nav span:first-child {
              float: left;
              width: 75%;
              background: #1A535C; }
            .container main .objects .widget .info nav span:nth-child(2) {
              float: left;
              width: 25%;
              line-height: 50px;
              background: #3299BB; }
    .container main .postcard {
      width: 100%;
      background-color: white;
      box-shadow: 0px 5px 10px rgba(85, 85, 85, 0.5); }
      .container main .postcard a {
        color: #333;
        text-decoration: none; }
      .container main .postcard .card-image {
        height: 320px;
        position: relative;
        overflow: hidden; }
        .container main .postcard .card-image .plus {
          position: absolute;
          font-size: 3em;
          bottom: 10px;
          right: 45px;
          background: #673AB7;
          width: 50px;
          height: 50px;
          text-align: center;
          border-radius: 50%;
          color: #FFF;
          cursor: pointer; }
        .container main .postcard .card-image img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: grayscale(1);
          transition-property: filter width;
          transition-duration: .3s; }
        .container main .postcard .card-image:hover img {
          width: 110%;
          filter: grayscale(0); }
      .container main .postcard .card-body {
        text-align: left;
        padding: 5em 3em;
        text-align: justify; }
      .container main .postcard .card-title {
        color: #1A535C;
        text-align: left;
        text-transform: uppercase;
        font-size: 1.4em;
        margin-bottom: 1em; }
      .container main .postcard .card-excerpt .author img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 10px;
        float: left; }
      .container main .postcard .card-excerpt .author h4 {
        color: #27282c; }
      .container main .postcard .card-excerpt date {
        font-style: italic;
        color: #008080;
        font-weight: 200;
        font-size: .9em; }
      .container main .postcard .card-excerpt p {
        margin-top: 1em;
        font-family: Helvetica, sans-serif;
        font-size: 1.3em;
        display: block;
        word-wrap: break-word;
        overflow: hidden;
        color: #333;
        line-height: 1.7;
        font-size-adjust: 100%; }
    .container main .card {
      width: 200px;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
      margin: 6px 1px; }
      .container main .card a {
        color: #333;
        text-decoration: none; }
      .container main .card:first-child {
        min-width: 100%;
        height: 300px; }
        .container main .card:first-child .card-image {
          height: 250px;
          position: relative;
          overflow: hidden; }
          .container main .card:first-child .card-image img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: grayscale(1);
            transition-property: filter width;
            transition-duration: .3s; }
      .container main .card:hover .card-image img {
        width: 110%;
        filter: grayscale(0); }
      .container main .card .card-image {
        height: 110px;
        position: relative;
        overflow: hidden; }
        .container main .card .card-image img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: grayscale(1);
          transition-property: filter width;
          transition-duration: .3s; }
      .container main .card .card-body {
        text-align: left;
        padding: .8em .5em; }
      .container main .card .card-title {
        text-align: left;
        text-transform: uppercase;
        font-weight: bold; }
  .container .flextable {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 0px solid #fff;
    line-height: 1.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .container .flextable .thead {
      display: none; }
      @media (min-width: 500px) {
        .container .flextable .thead {
          color: #fff;
          font-weight: bold;
          background-color: #1A535C !important; } }
    .container .flextable .trow {
      width: 100%; }
      .container .flextable .trow:nth-of-type(even) {
        background-color: #3299BB;
        color: #fff; }
      .container .flextable .trow:nth-of-type(odd) {
        background-color: #fff;
        color: #27282c; }
      @media (min-width: 500px) {
        .container .flextable .trow {
          display: flex;
          flex-flow: row nowrap;
          transition: all .5s ease-in-out; }
          .container .flextable .trow:nth-of-type(even) {
            background-color: #fff;
            color: #27282c; }
          .container .flextable .trow:nth-of-type(odd) {
            background-color: #3299BB;
            color: #fff; }
          .container .flextable .trow:hover {
            transform: scale(1.02, 1.02);
            cursor: pointer;
            color: #fff;
            background-color: #27282c; } }
      .container .flextable .trow .tcolumn {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        flex-basis: 0;
        padding: 0.5em;
        word-break: break-word;
        align-items: center;
        text-align: center;
        line-height: 1em; }
        .container .flextable .trow .tcolumn:before {
          content: attr(data-header);
          width: 30%;
          font-weight: bold; }
        @media (min-width: 500px) {
          .container .flextable .trow .tcolumn {
            border: 1px solid #fff;
            padding: 0.5em; }
            .container .flextable .trow .tcolumn:before {
              content: none; } }
        .container .flextable .trow .tcolumn .btn {
          text-align: center;
          text-decoration: none;
          background: #27282c;
          color: white;
          padding: .5em;
          width: 60%; }
          @media (min-width: 500px) {
            .container .flextable .trow .tcolumn .btn {
              width: 100%; } }
          .container .flextable .trow .tcolumn .btn:hover {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
        @media (min-width: 500px) {
          .container .flextable .trow .tcolumn.button {
            padding: 0 !important; } }
  .container .side-bar {
    grid-area: side-bar;
    z-index: 1;
    background: #fff;
    min-height: 700px; }
    .container .side-bar .buttons {
      margin: 10px auto;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: space-between; }
      .container .side-bar .buttons .btn {
        text-decoration: none;
        padding: 10px 15px;
        background: #3299BB;
        color: white;
        border-radius: 5px;
        transition: all .25s ease-in;
        border-right: 10px solid #000; }
        .container .side-bar .buttons .btn:hover {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .container .side-bar .top-sidebar {
      background-color: #008080;
      color: #fff;
      padding: .3em .5em;
      font-size: 1.3em;
      text-align: left;
      cursor: pointer;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
      .container .side-bar .top-sidebar:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22); }
      .container .side-bar .top-sidebar .btn {
        text-decoration: none;
        padding: 5px 15px;
        background: tomato;
        color: white;
        border-radius: 3px;
        transition: all .25s ease-in; }
    .container .side-bar .ranking .person li {
      list-style: none;
      padding: .5em;
      text-decoration: none;
      text-align: left;
      text-align-last: left;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 0.1px solid rgba(128, 128, 128, 0.514);
      cursor: pointer;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
      .container .side-bar .ranking .person li:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22); }
      .container .side-bar .ranking .person li p {
        font-size: 1.3em;
        margin-left: 10px;
        width: 70%;
        color: #27282c; }
      .container .side-bar .ranking .person li .box {
        height: 64px;
        width: 64px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #4d4d4d; }
        .container .side-bar .ranking .person li .box img {
          width: 64px; }
      .container .side-bar .ranking .person li .circle {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background-color: #0a5e34;
        display: flex; }
        .container .side-bar .ranking .person li .circle span {
          margin: auto;
          font-weight: normal;
          color: #fff; }
    .container .side-bar .topics {
      padding: 1em; }
      .container .side-bar .topics .topic_list {
        background-color: #fff;
        min-height: 700px;
        list-style: none; }
        .container .side-bar .topics .topic_list li {
          line-height: 1.8em;
          border-bottom: 3px solid rgba(128, 128, 128, 0.514);
          cursor: pointer;
          padding-bottom: 5px; }
          .container .side-bar .topics .topic_list li a {
            text-decoration: none;
            text-align: left;
            color: #27282c;
            font-family: Arial, Helvetica, sans-serif; }
          .container .side-bar .topics .topic_list li:hover {
            background-color: #e9ebee; }
            .container .side-bar .topics .topic_list li:hover a {
              color: #27282c;
              font-family: Arial, Helvetica, sans-serif; }
    .container .side-bar .newsfeed .news {
      background-color: #fff;
      list-style: none;
      line-height: 1em; }
      .container .side-bar .newsfeed .news li {
        padding: .5em;
        text-decoration: none;
        text-align: left;
        text-align-last: left;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        border-bottom: 0.1px solid rgba(128, 128, 128, 0.514);
        cursor: pointer;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
        .container .side-bar .newsfeed .news li:hover {
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22); }
        .container .side-bar .newsfeed .news li p {
          margin-right: 5px;
          font-size: .9em;
          color: #27282c; }
          .container .side-bar .newsfeed .news li p span {
            font-style: italic;
            font-size: .8em;
            color: #aaaaaa; }
        .container .side-bar .newsfeed .news li .box {
          height: auto;
          width: 64px;
          margin-right: 2px;
          overflow: hidden; }
          .container .side-bar .newsfeed .news li .box img {
            width: 100%;
            height: auto;
            border-radius: 5px; }

.float {
  display: flex;
  background: #fff;
  height: 100vh;
  flex-direction: column; }
  .float .msg {
    color: #1A535C;
    margin: 20% auto;
    font-size: 1.5em;
    font-weight: bold; }
  .float form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: AUTO;
    flex-shrink: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around; }
    .float form select#semister_id {
      padding: 22px 20px; }
    .float form input[type="text"] {
      padding: 20px 25px;
      font-size: 1.2em;
      color: #000; }
    .float form input[type="submit"] {
      padding: 20px 40px;
      border: none;
      background: #008080;
      color: #fff;
      font-size: 1.2em;
      cursor: pointer; }

::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  border-radius: 2px;
  background: transparent;
  transition: all 0.3s ease; }

::-webkit-scrollbar:hover {
  background: #c6c7ca;
  width: 15px; }

::-webkit-scrollbar-thumb {
  background: #777779;
  border-radius: 5px; }

@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "header header" "menus main";
    align-items: stretch; }
  .side-bar {
    grid-area: side-bar;
    display: none; } }

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "header" "main";
    align-items: stretch; }
    .container .top-bar {
      justify-content: space-around;
      padding: 0; }
      .container .top-bar h1 {
        color: #fff;
        font-weight: 600;
        font-size: 1.2em;
        padding-left: 3.5em; }
    .container .actionbar {
      flex-direction: column; }
    .container .floating-menu {
      grid-area: header;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 12;
      background: #27282c;
      width: 180px;
      height: 150px !important;
      border-radius: 0 0 100px 100px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
      border: 5px solid #383838;
      border-top: 0; }
      .container .floating-menu .logo .box {
        margin: auto;
        height: 100px;
        width: 100px; }
        .container .floating-menu .logo .box img {
          width: 100%;
          height: auto; }
      .container .floating-menu .f-menu {
        display: none;
        visibility: hidden; }
    .container .side-bar {
      visibility: hidden; }
    .container .menu-bar {
      visibility: hidden;
      display: none; }
  a.btn {
    display: block;
    margin: 10px 15px !important; } }
