@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.login-container {
  height: 100vh;
  background: #1A535C;
  margin: 0 auto;
  width: 100%; }
  .login-container .logo {
    width: 250px;
    margin: auto;
    height: 280px;
    background: #fff;
    border-radius: 0 0 230px 230px; }
    .login-container .logo img {
      margin-top: 25px;
      width: 100%;
      height: auto; }
  .login-container h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 100px 0 0 0; }
  .login-container .buttons {
    margin: 100px auto;
    text-align: center; }
    .login-container .buttons .btn {
      text-decoration: none;
      padding: 15px 50px;
      background: tomato;
      color: white;
      border-radius: 3px;
      display: inline-block;
      transition: all .25s ease-in-out; }
      .login-container .buttons .btn:hover {
        transform: scale(1.15, 1.15); }
      .login-container .buttons .btn:first-child {
        background: teal;
        margin-right: 50px; }
  .login-container .form-group {
    margin: 5% auto;
    text-align: center; }
    .login-container .form-group input {
      padding: 15px 25px;
      display: block;
      margin: 10px auto;
      border: none; }
    .login-container .form-group button {
      padding: 15px 60px;
      color: #FFF;
      border: none;
      background: #1c1c1c;
      transition: all .25s ease-in-out; }
      .login-container .form-group button:hover {
        transform: scale(1.15, 1.15); }

.container {
  display: grid;
  grid-template-columns: .5fr 3fr 1fr;
  grid-template-rows: 8% auto;
  grid-template-areas: "header header header" "menu main side-bar";
  height: 100vh;
  width: 100%;
  font-family: Raleway; }
  .container .top-bar {
    grid-area: header;
    background: teal;
    padding: 1em;
    z-index: 1;
    box-shadow: 0 1px 5px #000000; }
    .container .top-bar h1 {
      color: #fff;
      font-weight: 600;
      margin-left: 250px; }
  .container .floating-menu {
    grid-area: menu;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    background: #1c1c1c;
    width: 200px;
    height: 70%;
    border-radius: 0 0 100px 100px;
    box-shadow: 1px 3px 10px 1px #444444; }
    .container .floating-menu .logo {
      padding: 1em; }
      .container .floating-menu .logo .box {
        margin: auto;
        height: 100px;
        width: 100px;
        background: teal; }
    .container .floating-menu .f-menu {
      list-style: none;
      margin-top: 50px; }
      .container .floating-menu .f-menu li {
        border-bottom: 0.5px solid #7b7b7b;
        line-height: 2.5em;
        transition: all .8s ease-in-out; }
        .container .floating-menu .f-menu li:hover {
          background-color: #fff; }
          .container .floating-menu .f-menu li:hover a {
            color: #1c1c1c;
            font-weight: 600; }
        .container .floating-menu .f-menu li a {
          padding-left: 2em;
          font-size: 1.2em;
          text-decoration: none;
          color: #fff; }
  .container main {
    grid-area: main;
    background: #fff;
    padding: 1em; }
  .container .side-bar {
    grid-area: side-bar;
    background: #c4c4c4;
    box-shadow: 0px 0px 5px #000000; }
    .container .side-bar .top-sidebar {
      padding-left: 1em;
      display: block;
      line-height: 2em;
      font-size: 1.8em;
      font-weight: 600;
      color: #fff;
      text-align: left;
      background-color: #c4c4c4;
      border-bottom: 2px solid gray; }
    .container .side-bar .ranking .person {
      list-style: none;
      padding: 1em;
      line-height: 1em; }
      .container .side-bar .ranking .person li {
        margin-bottom: 15px;
        text-decoration: none;
        text-align: left;
        text-align-last: left;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .container .side-bar .ranking .person li p {
          font-size: 1.3em;
          margin-left: 10px;
          width: 70%;
          color: #fff; }
        .container .side-bar .ranking .person li .box {
          height: 64px;
          width: 64px;
          background-color: purple; }
        .container .side-bar .ranking .person li .circle {
          height: 64px;
          width: 64px;
          border-radius: 50%;
          background-color: tomato;
          display: flex; }
          .container .side-bar .ranking .person li .circle span {
            margin: auto;
            font-weight: 600;
            color: #fff; }
    .container .side-bar .newsfeed .news {
      list-style: none;
      padding: 1em;
      line-height: 1em; }
      .container .side-bar .newsfeed .news li {
        margin-bottom: 15px;
        text-decoration: none;
        text-align: left;
        text-align-last: left;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .container .side-bar .newsfeed .news li p {
          margin-right: 5px;
          width: 70%;
          color: #fff; }
          .container .side-bar .newsfeed .news li p span {
            font-style: italic;
            font-size: .8em;
            color: #aaaaaa; }
        .container .side-bar .newsfeed .news li .box {
          height: 64px;
          width: 64px;
          background-color: #1A535C; }

@media screen and (max-width: 600px) {
  a.btn {
    display: block;
    margin: 10px 15px !important; } }
